<header class="nav">
    <div class="logo">
      <img id="logoPic" alt="saketa logo" src="../../../assets/pics/saketa_logo.png" />
      <h1>saketa</h1>
    </div>
    <div class="pageTitle">
      <h1>Employee Directory</h1>
      <p>The Ultimate People directory Experience</p>
    </div>
    <div class="empGreet">
      <h1>
        <span id="welcome">Welcome, </span
        ><span id="currentEmpName">Andrew Philips</span>
      </h1>
      <img
        id="currentEmpPic"
        alt="current emp pic"
        src="../../../assets/pics/empPic6.jpg"
      />
    </div>
    
</header>